@model IEnumerable<VacationerModel>

@{
    ViewData["Title"] = "NewTravelRequest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>NEW TRAVEL REQUEST - FINAL</h2>
<!--<h3>@ViewData["customer"]</h3>-->

@foreach (var item in Model)
{
    <h3>First Name: <span>@item.FirstName</span></h3>
    <h3>Last Name: <span>@item.LastName</span></h3>
    <h3>E-Mail: <span>@item.email</span></h3>
    <h3>Dream Destination: <span>@item.DreamDestination</span></h3>
    <h3>Your Maximum Budget: <span>@item.budget</span></h3>
    <h3>What you want in your dream Destination: <span>@item.DestinationDescription</span></h3>
} 

<button>Submit my request to agents!!!</button>


