@model IEnumerable<VacationerModel>

@{
    ViewData["Title"] = "NewTravelRequeset";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>NEW TRAVEL REQUEST - FINAL</h2>
<!--<h3>@ViewData["customer"]</h3>-->

@foreach (var item in Model)
{
    <h1>First Name: @item.FirstName</h1>
    <h1>Last Name: @item.LastName</h1>
    <h1>E-Mail: @item.email</h1>
    <h1>Dream Destination: @item.DreamDestination</h1>
    <h1>Your Maximum Budget: @item.budget</h1>
    <h1>What you want in your dream Destination: @item.DestinationDescription</h1>
}


